.logo{
    padding-left: 5em;
    
}
.logo img{
    max-width: 150px;
    max-height: 150px;   
    
}
.logo h1{
    
    display: inline-block;
    margin-left: 2em;
    font-weight: 900;
    font-size: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(185, 108, 216);
}
.botones{
    float:right;
    padding-right: 5em;
}