header{
    background-color: rgb(255, 246, 232);
}
footer{
    background-color: rgb(255, 246, 232);
    text-align: center;
    border: black solid 1px;
    padding-top: 2em;
    padding-bottom: 2em;
}
main{
    padding-left:2em;
    padding-right: 2em;
    padding-bottom: 2em;
}
