.formulario{
    max-width: 500px;
    padding: 16px;
    margin: 10px auto;
}
.formulario h1{
    background-color: rgb(185, 82, 245);
    color: #ffffff;
    padding: 20px;
    font-size: x-large;
    font-weight: 300;
    text-align: center;
}
.divPadre, .botones{
    text-align: center;
}
.botones{
    margin-top: 1em;
}