<div class="formulario">
    <h1 id="tituloFormulario"></h1>

    <form [formGroup]="form" (ngSubmit)="onSaveForm()">
        <div class="divPadre">

            <div class="divLineaFormulario">
                <div class="divEtiqueta"><label>Nombre: </label></div>
                <div class="divInput"><input type="text" formControlName="nombre"></div>
            </div>
            <div class="divLineaFormulario">
                <div class="divEtiqueta"><label>Apellidos: </label></div>
                <div class="divInput"><input type="text" formControlName="apellidos"></div>
            </div>
            <div class="divLineaFormulario">
                <div class="divEtiqueta"><label>Sexo: </label></div>
                <div class="divInput">
                    <input type="radio" id="hombre" formControlName="sexo" value="hombre">
                    <label for="hombre">Hombre</label>
                    <input type="radio" id="mujer" formControlName="sexo" value="mujer">
                    <label for="mujer">Mujer</label>
                </div>                
            </div>
            
            <div class="divLineaFormulario">
                <div class="divEtiqueta"><label>Email: </label></div>
                <div class="divInput"><input type="text" formControlName="mail"></div>
            </div>
            <div class="divAlerta" *ngIf="mail.invalid && mail.touched">
                El email ha de ser un email correcto
            </div>
            <div class="divLineaFormulario">
                <div class="divEtiqueta"><label>Contraseña: </label></div>
                <div class="divInput"><input type="password" formControlName="pass"></div>
            </div>
            <div class="divAlerta" *ngIf="pass.invalid && pass.touched">
                La contraseña ha de contener al menos 8 caracteres
            </div>
            <div class="divLineaFormulario">
                <div class="divEtiqueta"><label>Repetir contraseña: </label></div>
                <div class="divInput"><input type="password" formControlName="repass"></div>
            </div>
            <div class="divAlerta" *ngIf="repass.invalid && repass.touched">
                La contraseña ha de contener al menos 8 caracteres
            </div>
        </div>
        <div class="botones">
            <button id="enviar" type="submit" [disabled]="!form.valid">Enviar</button>
            <button id="resetear" (click)="onResetForm()">Reset</button>
        </div>
    </form>
</div>
